<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista 02</title>

    <link type="text/css" rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
<div class="container">
    <h1>✨Lista 2 de Back-End✨</h1>
    <br>
    <p>Escolha uma das páginas abaixo para acessar:</p>
    <br>
    <ul>
        <li><a href="/rota1"><button>Rota 1</button></a></li>
        <li><a href="/rota2"><button>Rota 2</button></a></li>
        <li><a href="/inverter"><button>Inverter Texto</button></a></li>
        <li><a href="/login"><button>Login</button></a></li>
    </ul>
    </div>
</body>

<div id="footer">
    <p>Created by <a href="https://joaovblaneiro.github.io/js-developer-portfolio/" target="_blank" class="surprise">João Laneiro</a> 2024 <a href="https://github.com/JoaoVBLaneiro" target="_blank"><i class="fa-brands fa-github" style="color: green;"></i></a></p>
</div>

</html>
